.img {
   padding: 0 auto;
}
.form{
    float: right;
}
.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
  
  .right-align {
    text-align: right;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.right-align {
    -moz-appearance: textfield;
  }