<footer>
        <div class="footer">
        <nav class="fbar">
         
            <ul>
                <li>
                    <a href="http://www.belmondoweb.com/">
                        Belmondoweb Tim
                    </a>
                </li>
                <li>
                    <a href="http://www.belmondoweb.com/about.html">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://www.belmondoweb.com/my-work.html">
                        My work
                    </a>
                </li>
               
            </ul>
       
        </nav>
       

    <div class="copyright m-0 text-center">
        <p>    &copy;
            {{test | date: 'yyyy'}}, made with love by
           <a href="http://www.belmondoweb.com/" target="_blank">Belmondoweb</a> for a better web.</p>
        </div>
    </div>
</footer>
