<div class="page-title">
        <div class="block-info">
          <div class="header-text">About US</div>
          <div class="breadcrumbs1_wrapper">
            
          </div>
        </div>
        <div class="block-image">
          <img src="assets/about.jpg" alt="" class="img-responsive">
        </div>
    </div>  
    <div class="address">
          <div class="address">
                  <h3>Wheels of Tel Aviv</h3>
               <p> 110 tel aviv<br>
                 Tel Aviv, IL 55244</p>  
              </div>	
              <div>
                  <strong>Natalie</strong><br>
                  Phone: 052-221-2918  
              </div>
              <div class="phone-btn visible-xs bottommargin-sm">
                  <a class="ebiz-calltoday-button ebiz-clicktocall-button center button btn-block nopadding" rel="nofollow" href="tel:052-221-2918"><i class="icon-phone3"></i> Call Natalie</a>
              </div> 	</div>
    <div id="map-department-hours-1" class="topmargin-lg">
          <div class="map"> <img src="assets/aboutus_image.jpg"></div>  		
         
              <div class="map-department-hours-1-wrapper">
                    
                      <div class="col-xs-12 col-md-4">
                       <h3>Hours of Operation</h3>
                                  <div class="hours">
                                      <table class="table">
                                          <tbody>
                                              <tr>
                                                  <td>Monday:</td>
                                                  <td class="tright">9 am - 9pm</td>
                                              </tr>
                                              <tr>
                                                  <td>Tuesday:</td>
                                                  <td class="tright">9 am - 9pm</td>
                                              </tr>
                                              <tr>
                                                  <td>Wednesday:</td>
                                                  <td class="tright">9 am - 9pm</td>
                                              </tr>
                                              <tr>
                                                  <td>Thursday:</td>
                                                  <td class="tright">9 am - 9pm</td>
                                              </tr>
                                              <tr>
                                                  <td>Friday:</td>
                                                  <td class="tright">9 am - 2 pm</td>
                                              </tr>
                                              <tr>
                                                  <td>Saturday:</td>
                                                  <td class="tright">CLOSED</td>
                                              </tr>
                                              <tr>
                                                  <td>Sunday:</td>
                                                  <td class="tright">9 am - 2pm</td>
                                              </tr>
                                          </tbody>
                                      </table> 											
                                  </div>     
                          </div> 