<div class="form-group">
 
    <div class="row">
        <div class="col-md-3">
                <a class="icon-twitter social-button color" href="http://twitter.com">Twitter</a> 
         </div>
         <div class="col-md-3">
                <a class="icon-instagram social-button grey" href="http://instagram.com/username">Instagram</a>
        </div>
        <div class="col-md-3">
                <a class="icon-icon-github-button borderless static" href="http://yoursite.com/rss">Github</a>
        </div>
        <div class="col-md-3">
                <a class="icon-rss social-button borderless static" href="http://yoursite.com/rss">RSS</a>
        </div>
        <div class="col-md-3">
                <a class="icon-rss social-button borderless static" href="http://yoursite.com/rss">RSS</a>
        </div>
    </div>

</div>