<div class="successpage">
        <div class="container">
            <div class="ints">
            <img src="images/check.png" alt="" />
            <h1>Successful</h1>
            <h2>Your Booking Information has been sent successfully.</h2>
            <p>Your Booking Information has been sent successfully.Your Booking Information has been sent successfully.Your Booking Information has been sent successfully.</p>
            <a href="/home" class="btn">Go Back to Home Page</a>
            </div>
        </div>
    </div>